<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<h1>Joris Kok</h1>
		
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li> 
        		<li><a href="/cv">CV</a></li>
			<li><a href="/research">Research</a></li>

    		</ul>
		</nav>
		<div class="container">
			
		{{ content }}	
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:joris.kok@iisg.nl">Email</a></li>
			<li><a href="https://twitter.com/kok_joris" target="_blank">Twitter</a></li>
			<li><a href="https://scholar.google.com/citations?user=gt1lSBQAAAAJ&hl=nl&oi=ao" target="_blank">Google Scholar</a></li>
			<li><a href="https://orcid.org/0009-0004-8190-5414" target="_blank">ORCID</a></li>
			</ul>
		</footer>
	</body>
</html>
